[Desktop Entry]
Name=Wshot
GenericName=Screenshot tool for wayland
Exec=wshot
Terminal=false
Type=Application
Encoding=UTF-8
Icon=wshot
Categories=Graphics;Acessories
Keywords=screenshot;wayland;
